.banner {
  background-color: #F68B1F;
  width: auto;
  height: 100px;
  padding: 20px 40px 93px 40px;
  position: relative;
}

#logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#slogan {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  /*padding-bottom: 40px;*/
}

.fa-search {
  position: absolute;
  font-size: 30px;
  color: white;
  margin-top: 40px;
}

.banner-top {
  display: flex;
}

.mobile-view-menu {
  display: none;
}

.logo-and-slogan {
  display: block;
  margin: auto;
}


/* MOBILE VIEW */

@media screen and (max-device-width: 400px) {
  #logo {
    width: 390px;
    margin-top: 20px;
  }

  #slogan {
    display: none;
  }

  .menu {
    display: none;
  }

  .mobile-view-menu {
    display: block;
  }
}
