.banner {
  background-color: #F68B1F;
  width: auto;
  height: 100px;
  padding: 20px 40px 93px 40px;
  position: relative;
}

.banner-top {
  display: flex;
}

.logo-and-slogan {
  display: block;
  margin: auto;
}

#logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#slogan {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.fa-search {
  position: absolute;
  font-size: 30px;
  color: white;
  margin: 60px 0px 0px 60px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 20px 250px 0px 250px;
}

.mobile-view-menu {
  display: none;
}


/* MOBILE VIEW */

@media screen and (max-device-width: 400px) {
  #logo {
    width: 390px;
    margin-top: 30px;
  }

  #slogan {
    display: none;
  }

  .menu {
    display: none;
  }

  .mobile-view-menu {
    display: block;
    font-size: ;
  }

  .fa-search {
    font-size: 50px;
    margin: 60px 30px 30px 30px;
  }

  .fa-ellipsis-h {
    font-size: 50px;
    position: absolute;
    right: 50px;
    top: 80px;
  }
}
