h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: black;
  font-size: 40px;
  font-weight: regular;
}

h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: regular;
}


