/* INTRO */

.intro-section {
  display: flex;
  margin: 25px 25px 60px 25px;

}



/* SERVICES */
.services-section {
  display: block;
  text-align: center;
}

.services-heading {
  display: block;
}
