/* INTRO */
.intro-section {
  display: flex;
  margin: 25px 25px 60px 25px;
}



/* SERVICES */
.services-section {
  display: block;
  text-align: center;
}

.services-heading {
  display: block;
}



/* MOBILE VIEW */
@media screen and (max-device-width: 400px) {
  .intro-section {
    display: block;
    padding: 30px;
  }

  .intro-text p {
    margin: 40px 0px 40px 0px;
    line-height: 100px;
  }

  .intro-section .contact-btn {
    margin-bottom: 20px;
  }
}


/* TABLET VIEW */
@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {
  .intro-section {
    margin-top: 60px;
  }
}
