.services-grid {
  display: flex;
  margin: auto;
  width: 900px;
}

.services-column {
  display: block;
}

.service {
  display: flex;
  width: auto;
  align-items: left;
}

.service-info {
  display: block;
  text-align: left;
  width: 100%;
}

.service-info h3 {
  color: #F68B1F;
  font-size: 23px;
}


#service-image {
  width: 77px;
  height: 77px;
  margin: auto 30px auto auto;
}

